@charset "utf-8";
/* CSS Document */

.clearfix{
	zoom:1;}


.text-head hr {
	margin-top: -12px;
	z-index: -1;
}
input[type=text] {
	padding: 7px 5px 0px 5px;
}
a.forgot {
	position: relative;
	top: -16px;
}

.educationPlace, 
.courseBox, 
.courseImage, 
.courseText, 
.filter, 
.viewType, 
.downloadFile,
.userBarName,
.signInVia a.si-vs,
.registerStepLabel,
.forRadio,
.uploadFile,
.carousel li,
.carousel li > *,
.nextCoursesItem > * ,
.accountData > *{
	zoom: 1;
	*display: inline;
}
.educationYears {
	margin-top: -20px;
}
.courseBox {
	margin: 0;
}
.text-head a.viewAll {
	top: -14px;
}

.rightCol-head {
	
}
.rightCol-head .more {
	top: -25px;
}

.leftCol {
	margin-bottom: 0;
	padding-bottom: 0;
}