@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

html, body {
	position: relative;
	height: auto !important;
}

body{
	margin:0px;
	padding:0px;

	background: #e9ebef;

	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 21px;
	color: #505050;
}
ul {
	list-style: none;
}


/* ----end-style-form---*/
.class-header-controls {
	left: 250px;
	top: 8px;
}
.class-header-controls a{
	display: block;
	color: #fff;
	height: 32px;
	line-height: 32px;
	border: none;
	font-size: 14px;
	font-weight: bold;
	float: left;
	margin-right: 20px;
	padding-left: 40px;
	position: relative;
}
.class-header-controls a.riseHand{
	background: url(../img/riseHand-header.png) no-repeat;
}
.class-header-controls a.riseHand.rised{
	background-position: left bottom;
}

.class-header-controls a.users{
	background: url(../img/users.png) no-repeat;
}

.class-header-controls a .notifications {
	position: absolute;
	top:19px;
	left:9px;
}
#header .devices {
	float: none;
	left: 600px;
	line-height: 50px;
}
#header .devices button{
	padding-left: 50px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 20px;
}
#header .devices button.off{
	color: #9ba1a8;
}
#header .devices .mic{
	background-image: url(../img/mic-header.png);
}
#header .devices .cam{
	background-image: url(../img/cam-header.png);
}


.class-header {
	border-color: #242b32 !important;
	background: url(../img/class-header.jpg) !important;
}
#class-wrapper {
	margin: 10px auto;
	max-width: 1600px;
	min-width: 1000px;
	position: relative;
	
}
.main-container {
	height: 1%;
	position: relative;
	border-left: 362px solid transparent;
}


.class-sideBar {
	width: 355px;
	float: left;
	position: relative;
	left: -359px;
}
.class-sideBar-top {
	border: 1px solid #ccc;
	background: #fafafa;
}
.riseHand {
	text-align: center;
	border-bottom: 1px solid #ccc;
}
#header .riseHand {

}
.riseHand-inner {
	display: block;
	vertical-align: middle;
	width: 70px;
	height: 32px;
	line-height: 32px;
	margin: 4px auto;
	color: #707070;
	font-size: 14px;
	font-weight: bold;
	padding-left: 44px;
	background: url(../img/riseHand.png) no-repeat left top;
}
.riseHand-inner.rised {
	background-position: left bottom;
}
.class-sidebar-video {
	height: 196px;
    overflow: hidden;
    padding: 1px;
}
.class-sidebar-videoBox {
	position: relative;
	height: 196px;
	overflow: hidden;
}

.videoBoxPanel {
	color: #fff;
	font-size: 14px;
	background: rgba(74, 74, 75, 0.5);
	margin-top: -29px;
	position: relative;
	padding: 0 20px;
	line-height: 23px;
	text-align: center;
}

.class-sidebar-videoBox:hover .videoBoxPanel{
	margin-top: -42px;
	height: 36px;
	line-height: 36px;
	text-align: left;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
	
.videoBoxPanelTools {
	position: absolute;
	right: 10px;
	top: -1px;
	opacity: 0;
}
.class-sidebar-videoBox:hover .videoBoxPanelTools {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	
	opacity: 1;
}
.videoBoxPanelTools a{
	
	color: #323132;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 28px;
}
.videoBoxPanelTools a:first-child{
	margin-right: 10px;
}
.videoBoxPanelTools a.video{
	background: url(../img/video.png) no-repeat left 4px;
}
.videoBoxPanelTools a.video.active{
	background: url(../img/video.png) no-repeat left -26px;
}
.videoBoxPanelTools a.sound{
	background: url(../img/sound.png) no-repeat left 1px;
	padding-left: 25px;
}
.videoBoxPanelTools a.sound.active{
	background: url(../img/sound.png) no-repeat left -29px;
	padding-left: 25px;
}
.videoBoxPanelTools a.active {
	color: #fff;
}

/*  Chat
------------------------------------------  */

.chatBox {
	margin: 4px 0 0 0;
	background: #fff;
	border: 1px solid #ccc;
}
.chat {
	padding: 5px 0 6px 10px;

	width: 342px;
}

.chatMessage {
	padding: 10px 0;
	border-bottom: 1px dashed #efefef;
}
.chatMessage > * {
	float: left;
}
.chatMessageImage {
	width: 36px;
	margin-right: 10px;
	margin-top: 4px;
}
.chatMessageImage img{
	width: 36px;
}
.chatMessageBox {
	width: 266px;
}
.chatMessageText {
	font-size: 13px;
	color: #505050;
	margin-top: 5px;
}
.avaliable {
	padding-left: 20px;
	background: url(../img/avaliable.png) no-repeat center center;
}
.postTime {
	float: right;
	color: #a4a4a4;
	font-size: 12px;
}
.postTime.postRow {
	float: none;
}

.typeMessage {
	border-top: 1px solid #d7d6d6;
	margin-top: 32px;
} 
.typeMessage input[type=text]{
	width: 276px;height: 34px;
	border: none;
	padding: 2px 10px;
} 
.submit {
	width: 56px;height: 42px;
	vertical-align: top;
	border-left: 1px solid #d2d2d2;
	background: #fafafa url(../img/return.png) no-repeat center center;
}

/*  class-board
----------------------------------------------------------------------  */
.class-board {
	width: 100%;
	float: left;
	overflow: hidden;
	margin-right: -100%;
	position: relative;
}
.class-board-container {
	padding-right: 50px;
	min-width: 609px;

}

.class-board-toolbar {
	background: #fafafa;
	border: 1px solid #ccc;
	height: 40px;
}
.toolbar {
	overflow: hidden;
	float: left;
	margin-top: 3px;
}
.toolbar li {
	float: left;
	padding:5px;
}
.toolbar li a{
	line-height: 38px;
	display: block;
	background-repeat: no-repeat;
}
.toolbar li a.active,
.toolbar li a:active,
.toolbar li a:hover
{
	background-position: center bottom;
}

.main-tools {
	margin-top: 5px;
	margin-left: 5px;
}
.main-tools li{
	margin-right: 10px;
}
.main-tools a.handTool {
	width: 17px; height: 17px;
	background-image: url(../img/class/handTool.png);
}
.main-tools a.pointerTool {
	width: 18px; height: 18px;
	background-image: url(../img/class/pointerTool.png);
}
.main-tools a.penTool {
	width: 17px; height: 17px;
	background-image: url(../img/class/penTool.png);
}
.main-tools a.circleTool {
	width: 17px; height: 17px;
	background-image: url(../img/class/circleTool.png);
}
.main-tools a.lineTool {
	width: 17px; height: 17px;
	background-image: url(../img/class/lineTool.png);
}
.main-tools a.squareTool {
	width: 17px; height: 17px;
	background-image: url(../img/class/squareTool.png);
}
.main-tools a.textTool {
	width: 16px; height: 17px;
	background-image: url(../img/class/textTool.png);
}
.main-tools a.eraserTool {
	width: 17px; height: 17px;
	background-image: url(../img/class/eraserTool.png);
}

.toolbar.toolSize {
	margin: 3px 30px 0;
}
.toolSize a {
	width: 23px;
	height: 23px;
	background-image: center center;
}
.toolSize a.toolSizeBig {
	background-image: url(../img/class/toolSizeBig.png);
}
.toolSize a.toolSizeMedium {
	background-image: url(../img/class/toolSizeMedium.png);
}
.toolSize a.toolSizeSmall {
	background-image: url(../img/class/toolSizeSmall.png);
}

.toolColor a{
	width: 23px;height: 23px;
}
.toolColor a.toolColorBlack{
	background-image: url(../img/class/toolColorBlack.png);
}
.toolColor a.toolColorBlue{
	background-image: url(../img/class/toolColorBlue.png);
}
.toolColor a.toolColorGreen{
	background-image: url(../img/class/toolColorGreen.png);
}
.toolColor a.toolColorRed{
	background-image: url(../img/class/toolColorRed.png);
}


.board {

	background-color: #fff;
	position: relative;
	overflow: hidden;
}
.zoomTools {
	position: absolute;
	z-index: 2;
	top: 10px;right: 15px;
}
.boardField {
	min-height: 500px;
	overflow: auto;
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
}


.class-board-bottom {
	border: 1px solid #d2d2d2;
	background: #fff;
}
.class-board-bottom > *{
	float: left;
}
.boardMenu {
	width: 91px;height: 41px;
	background: #fafafa;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	border-right: 1px solid #D2D2D2;
	position: relative;
}
.boardMenu a{
	line-height: 41px;
	display: block;
	font-weight: bold;
	font-size: 14px;text-align: center;color: #919191;
}
.boardMenu a span{
	background: url(../img/upArrow.png) no-repeat center center;
	padding-left: 10px;
	margin-left: 10px;
}
#boardMenuDropDown {
	top: -90px;
	left: 0;
}
#boardMenuDropDown .dropDownBoxBody {
	width: 90px;
}
#boardMenuDropDown .dropDownList a{
	font-weight: normal;font-size: 13px;line-height: 24px;
}



.lists {
	margin-left: 10px;
}
.lists 	li{
	float: left;
	margin-left: 6px;
}
.lists 	li:first-child{
	margin: 0;
}
.lists li a{
	line-height: 41px;
	height: 38px;
	color: #a4a4a4;
	font-size: 14px;
	padding: 0 12px;
	display: block;
}
.lists li a.active{
	color: #505050;
	border-bottom: 3px solid #80b8f1;
}

.lists li a.more{
	background: url(../img/rightArrow.png) no-repeat center 13px;
}
.class-board-bottom .rightBox {
	float: right;
	background: #fafafa;
	width: 92px;
	height: 41px;
	border-left: 1px solid #d2d2d2;
}
.class-board-bottom .rightBox a{
	float: left;
	display: block;
	width: 20px;
	height: 20px;padding: 10px;
}
.class-board-bottom .rightBox a:hover {
	opacity: 0.7;
}
.class-board-bottom .rightBox .options{
	margin-left: 5px;
	background: url(../img/options.png) no-repeat center center;
}
.class-board-bottom .rightBox .save{
	background: url(../img/save.png) no-repeat center center;
}



/* widget 
--------------------------------------*/
.widget {
	position: absolute;
	right: 2px;top: 0;
	min-height: 709px;
	background: #fff;
	z-index: 500;
}


.widget > * {
	float: left;
}
.hoverPanel {
	min-height: 100%;
	width: 42px;
	background: #fafafa;
	border: 1px solid #d2d2d2;
	border-right: none;
	margin-bottom: -2000px;
	padding-bottom: 2000px;
}
.widgetIcon {
	margin: 10px auto;
	width: 20px;height: 20px;
	background: url(../img/widgetIcon.png) no-repeat left top;
}
.widgetBody {
	width: 358px;
	display: none;
	min-height: 1005px;
	border: 1px solid #d2d2d2;
}
.widget:hover .widgetBody {
	display: block;
} 
.widgetBody-top {
	border-bottom: 1px solid #d2d2d2; 
	padding: 10px;
}
.widgetBody-top > *{
	float: left;
}
.widgetBody-box {
	border-bottom: 1px solid #d2d2d2; 
	padding: 5px 0px;
}
.widgetBody-box:last-child {
	border: none;
}

.widgetBody .userBarName {
	color: #707070;
	font-size: 13px;
	font-weight: bold;
	background-image: url(../img/downArrowBlack.png);
}


.devices {
	float: right;
}
.devices button{
	width: 32px;
	height: 32px;
	background-color: transparent;
	background-repeat: no-repeat;
	margin-left: 5px;
}
.devices button.off{
	background-position: left top;
}
.devices button.on{
	background-position: left bottom;
}
.devices button.mic{
	background-image: url(../img/mic.png);
}
.devices button.cam{
	background-image: url(../img/cam.png);
}

.widgetBody-box-name {
	font-size: 14px;
	margin: 13px 0 0 10px;
}
.risedHands {
	margin-top: 5px;
	margin: 10px 0 10px 10px;	
}
.risedHands li{
	float: left;	
	margin-right: 10px;
	width: 36px;height: 36px;
}
.risedHands li img {
	width: 100%;
}

.userList {
	
}
.userListItem {
	height: 50px;
	line-height: 47px;
}
.userListItem:hover {
	background: #f1edee;
}

.userListItem > *{

	display: inline-block;
	vertical-align: middle;
}
.userListItemImage {
	width: 36px;
	margin-left: 10px;

}
.userListItemImage img{
	width: 100%;
	vertical-align: middle;
}
.userListItemUser {
	margin-left: 10px;
	font-size: 14px;
	color: #2b75bc;
}
.userListItemOptions {
	float: right;
	margin-top: 15px;
	margin-right: 12px;


}
.userListItemOptions li {
	float: left;
	margin-left: 15px;
	position: relative;
	min-width: 15px;
}
.userListItemOptions li a{
	height: 20px;
	display: block;
}
.userListItemOptions li a.phone {
	width: 40px;
	height: 19px;
	background: url(../img/phone.png) no-repeat;
}
.userListItemOptions li a.phone.call {background-position: left top;}
.userListItemOptions li a.phone.drop {background-position: left bottom;}

.userListItemOptions li a.paint {
	width: 15px;
	background: url(../img/paint.png) no-repeat center center;
}
.userListItemOptions li a.hand {
	height: 20px;width: 20px;
	background: url(../img/hand.png) no-repeat center center;
}
.userListItemOptions li a.config {
	width: 18px;height: 18px;
	background: url(../img/config.png) no-repeat left bottom;
}
.userListItemOptions li a.config:hover,
.userListItemOptions li a.config:active {
	background-position: left top;
}
.userListItemOptions .dropDownBox {
	right: -10px; top: 22px;
}
.userListItemOptions .dropDownBoxBody {
	width: 136px;
}
.userListItemOptions .dropDownBoxTip {
	margin-left: 108px;
}
.userListItemOptions .dropDownList a{
	height: auto;
}







@media screen and (max-width: 1370px) and (min-width: 1004px) {

}
	

@media screen and (min-width: 1600px) {
	.widgetBody {
		display: block;
	}
	.class-board-container {
		max-width: 838px;
		padding-right: 407px;
	}
}

