@charset "utf-8";
/* CSS Document */
.ui-datepicker-trigger {
	margin-left: -27px;
	background: #fff;
	vertical-align: middle;
}
#ui-datepicker-div {
	border-radius: 0;
	padding: 0;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}
.ui-datepicker-header {
	background: #4a94dc;
	color: #fff;
	border-radius: 0;
	border: none;
	font-size: 13px;
	font-weight: bold;
}
.ui-datepicker-prev, 
.ui-datepicker-next {
	border-radius: 0;
}
.ui-datepicker-prev:hover, 
.ui-datepicker-next:hover {
	background: none;
	border: 1px solid transparent;
	opacity: .7;
}

.ui-datepicker-prev span, 
.ui-datepicker-next span{
	margin-top: -6px !important;
	margin-left: -6px !important;
	background: url(../img/datePickerArrows.png) no-repeat !important;
	width: 9px;height: 11px;
}
.ui-datepicker-next span {
	background-position: right top !important;
}

.ui-datepicker-calendar {
	border: 1px solid #d7d6d6;
	margin: 0 !important;
}
.ui-datepicker th {
	border: 0 none;
    font-weight: normal;
    color: #a4a4a4;
    padding: 0.7em 0.3em;
    text-align: center;
}
.ui-datepicker td {
	border: 1px solid #f2f1f1 !important;
	padding: 0;
}
.ui-datepicker td > * {
	border: 1px solid transparent !important;
	background: none !important;
	text-align: center !important;
}
.ui-datepicker td a:hover{
	border: 1px solid #80b8f1 !important;
	background: #80b8f1 !important;
	color: #fff;
}
.ui-datepicker {
	width: 16em;
}
.ui-datepicker-other-month a{
	color: #bdbbbb !important;
}