@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

html, body {
	position: relative;
	height: 100%;
}

body{
	margin:0px;
	padding:0px;

	background: #fbfbfb;

	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 21px;
	color: #505050;
}
ul {
	list-style: none;
}
/* TYPOGRAPHY */
a{color: #2b75bc;text-decoration: none;}
a:hover{ text-decoration:none;}
a:active{ }
a:focus{outline: none;}
a:visited{ }

@font-face {
  	font-family: "Arial Black";
    src: url("../font/ariblk.eot");
    src: url("../font/ariblk.eot?#iefix") format("embedded-opentype"),
    url("../font/ariblk.woff") format("woff"),
    url("../font/ariblk.ttf") format("truetype"),
    url("../font/ariblk.svg#ariblk") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* END TYPOGRAPHY */
	
header, nav, section, article, aside, footer { display: block;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;}
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;}
.clearfix:after {
  clear: both;}

/* ----style-form---*/

::-webkit-input-placeholder { color:#909090;}
:-moz-placeholder { color:#909090;}
.placeholder { color:#909090;}
*:focus:-moz-placeholder { color: transparent !important;} 
*[autofocus]:-moz-placeholder:focus { color: graytext !important;} 
*:focus::-webkit-input-placeholder { color: transparent !important;} 
*[autofocus]::-webkit-input-placeholder { color: graytext !important;}


label {
	font-size: 15px;font-weight: bold;color: #606060;
}
input[type=text],input[type=password] {
	border: 1px solid #d7d6d6;
	width: 242px;
	height: 26px;
	padding: 2px 5px;
	color: #505050;
}
/* ----end-style-form---*/
	


/* -------------------button styles------------------------------------- */
button {
	border: none;
}
.btn {
	background: #3f8bd6;
	border-radius: 2px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: .02em;
	width: 157px;
	height: 37px;
	margin: 20px 0;
	border: 1px solid rgba(0, 0, 0, 0.15);

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.btn:hover {
	box-shadow: 0 0 40px rgba(60, 60, 60, 0.1) inset;
	
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.btn:active {
	box-shadow: 0 0 40px rgba(60, 60, 60, 0.1) inset, 0 0 7px rgba(0, 0, 0, 0.2) inset !important;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.btn-back {width: 116px;}

.btn.w142 {width: 142px;}
.btn.w149 {width: 149px;}

.btn.w159 {width: 159px;}
.btn.w164 {width: 164px;}
.btn.w196 {width: 196px;}
.btn.w208 {width: 208px;}
.btn.w290 {width: 290px;}

.btn.h24 {height: 24px;}
.btn.h31 {height: 31px;}
.btn.h36 {height: 36px;}
.btn.h41 {height: 41px;}
.btn.h43 {height: 43px;}


.btn-close {
	background: url(../img/btn-close.png) no-repeat;
	width: 22px;
	height: 22px;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;	
}
.btn-close:hover {
	opacity: .8;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-red {
	background: #e95153;
}
.btn-blue {
	background: #38a1e3;
}
.btn-aqua {
	background: #80b8f1;
}
.btn-green {
	background: #51ac45;
}
.btn-gray {
	background: #e5e5e5;
	color: #6f6f6f;
}

.btn.follow {
	background-position: 35px 9px;
}
.btn.message {
	background-position: 35px -19px;
}
.btn.testimonial {
	background-position: 35px -51px;
}
.btn.favourites {
	background-position: 35px -84px;
}


.btn-nav {
	width: 34px;
	height: 34px;
	vertical-align: middle;
}
.btn-nav:hover {
	background-position: left bottom;
}

.prevPage {
	background: url(../img/PrevArrow.png) no-repeat left top;
}
.nextPage {
	background: url(../img/NextArrow.png) no-repeat left top;
}
.buttonBox .btn-nav{
	float: left;margin-top: 20px;margin-right: 10px;
}
/* -------------------button styles end--------------------------------- */


/* -------------------popUp styles--------------------------------------- */
.blackOverlay {
	height: 100%;width: 100%;position: fixed;z-index: 1000;
	background: rgba(0,0,0,0.8);
}
.popUp {
	position: absolute;
	z-index: 1001;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	top: 80px;
	left: 35%;
}
.popUp .btn-close{
	width: 27px;
	height: 27px;
	background-size: cover;
	position: absolute;
	right: 10px;top: 10px;
}
.popUpHead {
	height: 45px;
	line-height: 45px;
	background: #6dabe8;
}
.popUpHead span {
	font-size: 15px;font-weight: bold;color: #fcfcfc;letter-spacing: 0.05em;
	padding: 0 35px;
}
.popUpBody {
	background: #fff;
	padding: 1px;
	color: #808080;
	min-width: 380px;
}
.popUp label {
	font-size: 13px;
	margin-bottom: 5px;
	display: block;
}
#createHomework {
	display: block;

	margin: 0 auto;
}
#createHomework .form-container {
	width: 500px;
	margin: 20px 30px;
}

#createHomework .datepicker {
	width: 130px;
}
#createHomework p {
	display: inline-block;
	vertical-align: bottom;
}

.selectTime {
	width: 75px !important;
	margin-left: 10px;
}
#HomeworkName {
	width: 490px;
}
#createHomework .filesUploaded {
	margin: 0;
}
#createHomework .uploadFiles {
	width: 494px;
	height: 97px;
}
#createHomework .uploadFile {
	 margin:20px auto;
	 vertical-align: middle;
}
#createHomework .uploadFiles span {
	 vertical-align: middle;
}
#createHomework .type_file {
	float: none;
	margin: -16px auto 0;
}
.buttonBox {
	height: 77px;
	border-top: 1px solid #ececec;
	margin-top: 20px;
	text-align: right;
	padding: 0 30px;
}
.videoBox {
	
}
.pictureBox {
	width: 590px;
	border: 1px solid #d7d6d6;
	min-height: 200px;
	border-radius: 2px;
	overflow: hidden;
}

.pictureBoxImage {
	float: left;
	width: 548px;
	vertical-align: middle;
	text-align: center;
}
.pictureBoxTools {
	float: right;
	width: 41px;
	border-left: 1px solid #d7d6d6;
	background: #f9f9f9;
	padding-bottom: 2000px;
	margin-bottom: -2000px;
}
.pictureBoxTools ul li {
	position: relative;
}
.pictureBoxTools a {
	display: block;
	margin: 0 auto;
	width: 33px;height: 33px;
	border-radius: 3px;
	background-repeat: no-repeat;
	margin-bottom: 1px;

}
.pictureBoxTools ul li .tooltip{
	display: none;
	z-index: 100;
	position: absolute;
	top: 0;
	right: 36px;

	font-size: 14px;
	color: #9a9a9a;

	height: 33px;
	line-height: 31px;
	padding: 0 15px 0 0;
	background: url(../img/tooltip.png) no-repeat right top;
}
.pictureBoxTools ul li .tooltip span{
	background: url(../img/tooltip.png) no-repeat left top;
	width: 5px;
	margin-left: -5px;
	display: inline-block;
	vertical-align: top;
	height: 100%;
}
.pictureBoxTools a.active {
	background-color: #80b8f1;
}

.pictureBoxTools a.hand {
	background-image: url(../img/hand-tool.png);
	background-position: center 7px;
}
.pictureBoxTools a.hand.active {
	background-position: center -23px;
}

.pictureBoxTools a.pencil {
	background-image: url(../img/pencil-tool.png);
	background-position: center 7px;
}
.pictureBoxTools a.pencil.active {
	background-image: url(../img/pencil-tool.png);
	background-position: center -23px;
}

.pictureBoxTools a.text {
	background-image: url(../img/text-tool.png);
	background-position: center 7px;
}
.pictureBoxTools a.text.active {
	background-image: url(../img/text-tool.png);
	background-position: center -32px;
}

.pictureBoxTools a.zoomIn {
	background-image: url(../img/zoomIn-tool.png);
	background-position: center 7px;
}
.pictureBoxTools a.zoomIn.active {
	background-image: url(../img/zoomIn-tool.png);
	background-position: center -32px;
}

.pictureBoxTools a.zoomOut {
	background-image: url(../img/zoomOut-tool.png);
	background-position: center 7px;
}
.pictureBoxTools a.zoomOut.active {
	background-image: url(../img/zoomOut-tool.png);
	background-position: center -32px;
}

.pictureBoxTools a.undo {
	background-image: url(../img/undo-tool.png);
	background-position: center 10px;
}
.pictureBoxTools a.undo.active {
	background-image: url(../img/undo-tool.png);
	background-position: center -30px;
}

.pictureBoxTools .divider {
	height: 1px;
	background-color: #d2d2d2;
	margin: 3px 0;
}
.popUpBody-container {
	margin: 20px 30px;
}

.membersBlock {
	width: 382px;
}
.user-toblock {
	font-weight: bold;
	color: #1155cc;
	font-size: 13px;
}
.membersBlock label {
	margin-top: 10px;
}
.reasonOfBan {
	width: 380px;
	margin-bottom: 10px;
}
.description {
	font-size: 13px;
	color: #919191;
}

select.selectDate, select.selectTeacher {
	width: 170px !important;
}
.newLessonsDate {
	width: 371px;
	margin: 10px auto 30px;
}
#Lessons {
	width: 155px;
}
.lessonsTable {
	width: 100%;
	margin: 20px 0 30px;
}
.lessonsTable label {
	cursor: default;
	margin: 0;
}
.lessonsTable tr {
	margin: 5px 0;
}
.lessonsTable td {
	padding: 5px 0;
	vertical-align: middle;
}
.lessonsTable tr:first-child td {
	padding: 0;
}
.lessonsTable td.till span {
	color: #919191;
}
.lessonsTable .selectTime {
	margin: 0;
}
.lessonsTable td.day {
	width: 92px;
}
.lessonsTable td.time {
	width: 120px;
}
.lessonsTable td.till {
	width: 86px;
}
.lessonsTable td.teacher {
	width: 100px;
}
.lessonsTable td.name {
	width: 150px;
}
.lessonsTable td.name input[type=text]{
	width: 99px;
}
.remove {
	width: 10px;height: 12px;vertical-align: middle;
	background: url(../img/remove.png) no-repeat left top;
}
.remove:hover, .remove:active {
	background: url(../img/remove.png) no-repeat left bottom;
}
.lessonsTable td.delete {
	text-align: right;
	width: 25px;
}
.createNewLesson {
	width: 385px;
}
.createNewLesson p {
	width: 173px;
	text-align: left;

}
.createNewLesson p > *{
	vertical-align: middle;
}
.createNewLesson p span.till {
	line-height: 30px;
	margin-left: 10px;
}
.selectLength {
	width: 100px;
}
.createNewLesson #Name {
	width: 372px;
}
.createNewLesson .control-group.full {
	margin-top: 10px;
}

.NewLesson {
	width: 300px;
	margin: 0 auto;
	text-align: center;
}
.NewLesson .btn{
	margin: 10px 0;
}
#InviteUserBox {
	position: relative;
}
#InviteUser {
	width: 370px;
	margin-bottom: 10px;
}
.liveSearchList {
	position: absolute;top: 31px;
	width: 380px;
	background: #fff;
	border: 1px solid #d7d6d6;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	padding: 5px 0;
	max-height: 100px;
	overflow: auto;
}
.liveSearchList ul li {
	line-height: 30px;
	
}
.liveSearchList ul li a{
	display: block;
	padding: 0 5px;
	color: #1155cc;
}
.liveSearchList ul li a span {
	color: #909090;
	float: right;
	min-width: 152px;
}
.liveSearchList ul li a.active{
	background: #f1edee;
}
.popUpBody .StepLabels {
	margin: 0 auto; 

}
/* -------------------popUp styles-end-------------------------------------- */
/* Header
-----------------------------------------------------------------------------*/
#header {
	position: relative;
	z-index: 700;
	height: 50px;
	background: url(../img/header.jpg);
	border-bottom: 1px solid #2667b9;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	min-width: 1200px;
}
.header-container {
	width: 1024px;
	margin: 0 auto;
	line-height: 50px;
	position: relative;
}
.header-element,
.footer-element {
	position: absolute;
}
#header .logo{
	font-family: 'Segoe UI', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 46px;
	left: 26px;
}
#header .logo a{
	text-decoration: none;
	color: #fff;
}
#header .logoSlogan {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	text-transform: none;
	margin-left: 20px;
}

.header-nav {
	left: 196px;
}
.header-nav a, 
.guest-box a{
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	background: url(../img/headerIcons.png) no-repeat;
	padding: 9px 0;
	padding-left: 30px;
	margin-right: 34px;
}
.header-nav a.courses {
	background-position: left 10px;
}
.header-nav a.teachers {
	background-position: left -34px;
}
.guest-box {
	right: 27px;
}
.guest-box a{
	margin-right: 0;
	margin-left: 18px;
}
.guest-box a.register{
	background-position: left -75px;
}
.guest-box a.sign-in{
	padding-left: 0;
	padding-right: 15px;
	background: url(../img/downArrow.png) no-repeat right center;
}

.dropDownBox {
	position: absolute;
	top: 45px;
	right: 0;
	z-index: 5;
	display: none;
	z-index: 100;
}
.dropDownBoxTip {
	background: url(../img/signInBoxTip.png) no-repeat;
	height: 9px;
    margin-left: 255px;
    position: relative;
    top: 1px;
    width: 18px;
}
.UserMenuBox .dropDownBoxTip{
	margin-left: 75px;
}
.dropDownBoxBody {
	background: #fff;
	border: 1px solid #d6d6d6;
	width: 302px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.UserMenuBox .dropDownBoxBody{
	width: 159px;
}
#SignIn {
	line-height: 2 !important;
	width: 255px;
	margin: 10px auto;
} 
#SignIn .btn {
	margin: 10px 0;
}
a.forgot {
	color: #a4a4a4;
	font-size: 13px;
	font-weight: normal;
	padding: 0;
	margin-left: 10px;
}
.profileConfirmationMessage {
	z-index: 3;
	position: absolute;
	top: 53px;
	min-height: 39px;width: 100%;
	background: url(../img/profileConfirmationMessage.png);
	line-height: 1 !important;
}
.profileConfirmationMessage-container {
	width: 1004px;
	margin: 0 auto;
	padding: 0 10px;
	line-height: 39px;
	color: #fff;
}
.profileConfirmationMessage-container .btn {
	margin: 0 0 0 10px;
	font-weight: normal;
}
.profileConfirmationMessage .btn-close {
	position: absolute;
	right: 10px; top: 8px;
}

.userBar {
	right: 27px;
}
.userBar > *{
	vertical-align: middle !important;
}
.userBarName {
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	margin-left: 10px;
	background: url(../img/downArrow.png) no-repeat right center;
	padding-right: 20px;
}
.notifications {
	margin: 0 0 0 7px;
	padding: 0 4px;
	height: 14px;
	line-height: 14px;
	border-radius: 2px;
	position: relative;
	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzYjQ1OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YTliM2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #63b458 0%, #4a9b3f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63b458), color-stop(100%,#4a9b3f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #63b458 0%,#4a9b3f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #63b458 0%,#4a9b3f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #63b458 0%,#4a9b3f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #63b458 0%,#4a9b3f 100%); /* W3C */
	-pie-background: linear-gradient(#63b458, #4a9b3f) !important;
}
.dropDownList {
	text-align: center;
	width: 100%;
	margin: 5px 0;
}
.dropDownList a{
	display: block;
	height: 26px;
	line-height: 26px;
	color: #505050 !important;
}
.dropDownList a.active, 
.dropDownList a:hover{
	background: #80b8f1 !important;
	color: #fff !important;
}
/* ------------------------------------header end--------------------------- */

/* ------------------------------------promoBlock--------------------------- */
#promoBlock {
	background: url(../img/promoBlock.jpg) no-repeat; 
	height: 236px;width: 1200px;
	margin: -2px auto 0;
	position: relative;
	z-index: 1;
	text-align: center;
	color: #fff;
	padding-top: 1px;
	line-height: 1.7em;
}
#promoBlock .slogan {
	font-family: "Arial Black", sans-serif;
	font-size: 32px;
	margin: 50px 0 30px;
}
#promoBlock .btn {
	font-size: 17px;
	margin: 15px 0 0 10px;
}



/* ------------------------------------promoBlock end--------------------------- */

/* ------------------------------------benefits--------------------------- */
#benefits {
	height: 107px;width: 1200px;margin: -2px auto 0;
	background: #efefef;
	position: relative;
	z-index: 2;

}
.benefits-carouselBox {
	width: 992px;
	margin: 0 auto;
	padding-top: 1px;
	position: relative;

}
.carouselBox-container {
	position: relative;
	width: 1000px;
	left: 5px;
}
.carousel {
	display: block;
	margin: 20px auto 0;
}

.carousel li{
	display: inline-block;

	min-height: 70px;
	border-left: 1px solid #e3e3e3;
	padding: 0 30px;
	min-width: 260px;
}
.carousel li:nth-child(3n+1){
	border-left: 1px solid transparent;
}

.carousel li > * {
	display: inline-block;
	vertical-align: middle;
}

.carousel li .benefit{
	font-size: 15px;
	color: #909090;
}
.carousel li .benefit .firstLine{
	font-size: 18px;
	color: #6f6f6f;
	font-weight: bold;

}
.carousel li img{
	margin: 0 10px 0 0;
}

.benefits-carouselBox button {
	text-indent: -9999px;
	width: 30px;height: 30px;position: absolute;
	top: 39px;

	background: url(../img/carouselArrows.png) no-repeat;
}
.benefits-carouselBox button:hover {
	opacity: .7;
}
.benefits-carouselBox button.Cf-prev {
	background-position: 8px 7px;
	left: -20px;
}
.benefits-carouselBox button.Cf-next {
	background-position: -21px 7px;
	right:-20px;
}

/* -------------------------Next Courses----------------------------------- */
.nextCourses {
	width: 1200px;
	margin: 0 auto;
	border-bottom: 1px solid #d3d3d3;
	background: #fff;
	padding: 20px 0;
}
.nextCoursesHead {
	font-weight: bold;
	font-size: 30px;
	color: #484848;
	text-align: center;
	margin: 40px 0;
}
.nextCoursesList {
	width: 992px;
	margin: 30px auto;
}
.nextCoursesItem {
	padding-bottom: 20px;
	margin-bottom: 15px;
	border-bottom: 1px dashed #f1f1f1;
}
.nextCoursesItem.last {
	border-bottom: none;
}
.nextCoursesItem > * {
	display: inline-block;
	vertical-align: middle;
}
.nextCoursesItem-left {
	width: 770px;
}
.nextCoursesItem-left .divider {
	float: right;
	width: 1px;height: 53px;
	background: #f1f1f1;
	margin-top: -66px;

}
.nextCoursesItem-right {
	padding-left: 30px;
}
.nextCoursesItemHead {
	font-size: 17px;
	color: #505050;
	font-weight: bold;
}
.nextCoursesItemTheme {
	font-size: 14px;
	color: #a4a4a4;
	margin-top: 5px;
}
.nextCoursesItem-bottom {
	margin-top: 15px;
	font-size: 14px;
}
.nextCoursesItem-date {
	padding: 3px 0 3px 25px;
	background: url(../img/calendarIcon.png) no-repeat left center;
	margin-right: 25px;
}
.nextCoursesItem-time {
	padding: 3px 0 3px 25px;
	background: url(../img/clock.png) no-repeat left center;
	margin-right: 35px;
}
.nextCoursesItem-teacher {
	
}
.nextCoursesItem-teacher img{
	vertical-align: middle;
	margin-right: 5px;
}

.nextCoursesItem-right .coursePriceBox .coursePrice{
	font-size: 32px;font-weight: bold;margin-top: 10px;
}
.nextCoursesItem-right .coursePriceBox .btn{
	margin: 5px 0 0;
}


.showMore {
	margin: 0 auto;display: block;
	width: 16px;height: 12px;
	background: url(../img/showMore.png) no-repeat;
}
/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 1024px;
	margin: 0 auto;
	position: relative; z-index: 1;
	min-height: 770px;
	
	background: #fff;
	border: 1px solid #d3d3d3;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
#middle.main {
	width: 1200px;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;}
#container {
	width: 100%;
	float: left;
	overflow: hidden;}
#content {
	padding: 27px;
}
#content a{color: #1155cc;}
/* -------------------------------mainCol------------------ */
.mainCol {
	float: left;
	width: 713px;
}
.row {
	overflow: hidden !important;
}
/* -------------------------------mainCol-end--------------- */
/* -------------------------------rightCol------------------ */
.rightCol {
	float: right;
	width: 215px;
	background: #f3f3f3;
	padding: 12px;
}

.sidebar-block {
	border-bottom: 1px solid #d7d6d6;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-size: 13px;
	line-height: 18px;
	color: #909090;
}
.sidebar-block.last {
	padding-bottom: 0;
	border: none;
}
.sidebar-block .right{
	color: #a3a3a3;
	font-size: 12px;
}
.right {
	float: right;
}
.left {
	float: left;
}
.right.hometask {
	width: 13px;height: 13px;
	margin-top: 2px;
	background: url(../img/hometaskIcons.png) no-repeat;
}
.hometask.done {
	background-position: left top;
}
.hometask.waiting {
	background-position: left center;
}
.hometask.fail {
	background-position: left bottom;
}
.rightCol input[type=text] {
	width: 202px;
	margin-top: 20px;
}
.sidebar-block a img {
	margin: 0 3px 3px 0 !important;
}

.sidebar-head {
	font-size: 15px;
	font-weight: bold;
	color: #505050;
	margin-bottom: 20px;
}
.sidebar-head .more {
	float: right; display: block; position: relative;top: -5px;
	background: url(../img/more.png) no-repeat;
	width: 31px;height: 31px;
	
}
.activityEvent {
	padding: 0 12px 0 32px;
	margin: 20px 0;
	line-height: 17px;
	background: url(../img/journalActivity.png) no-repeat;
}
.activityEvent.file {background-position: left 2px;} 
.activityEvent.schedule {background-position: -273px 2px;} 
.activityEvent.checked {background-position: -550px 2px;} 
.activityEvent.communication {background-position: -837px 2px;} 
.activityEvent.cancelled {background-position: -1103px 2px;} 
.activityEvent .time {
	text-align: right;
	margin-right: -12px;
	font-size: 12px;
	color: #a3a3a3;
}
.downloadFile {
	background: url(../img/downloadFile.png) no-repeat;
	padding-left: 30px;
	display: inline-block;
	margin-bottom: 10px;
}
.pdf-file {
	background-position: left 7px;
}
.docx-file {
	background-position: left -76px;
}
.downloadFile span {
	display: block;
	color: #909090;
	font-size: 12px;
}
/* -------------------------------rightCol--end---------------- */
/* --------------------------content-text-styles------------------- */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #505050;
}
h1 {
	margin: 0 !important;
	padding: 0 10px 0 0;
	background: #fff;
	display: inline;
}
h2 {
	font-size: 15px;
	margin: 20px 0 10px;
}

p {
	margin: 10px 0 0;
	font-size: 14px;
}


.text-head, h1 {
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 15px;
	line-height: 32px;
	display: inline;
	position: relative;
}
.text-head > *{
	vertical-align: middle;
	position: relative;
	z-index: 1;
}
.text-head button.btn {
	float: right;
	margin: -34px 0 0 0;
	font-weight: normal;
}
.text-head button.btn:before {
	background: #FFFFFF;
    border: 5px solid;
    content: " ";
    left: -11px;
    position: absolute;
    top: 12px;
}
.text-head img{
	padding-right: 15px;
	background: #fff;
}

hr {
	background-color: #f1f1f1;
    border: 0 none;
    clear: both;
    color: #f1f1f1;
    height: 3px;
    z-index: 0;
}

.text-head hr {
	background-color: #f1f1f1;
    border: 0 none;
    clear: both;
    color: #f1f1f1;
    height: 3px;
    top: -17px;
    z-index: 0;
}
.text-head span {
	background-color: #fff;
	padding-right: 10px;
}
.text-head .number{
	font-size: 18px;
	font-weight: normal;
	color: #909090; 
	display: inline;
	margin-left: 5px;
}
.text-head .filter {
	display: inline-block;
	float: right;
}
.text-head .filter li{
	float: left;
}
.text-head .filter li a{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	color: #a4a4a4 !important;
	padding: 0 5px;
	background: #fff;
}
.text-head .filter li a.active {
	color: #505050 !important;
}
.text-head .viewType{
	display: inline-block;
	margin-left: -5px;

}
.text-head .viewType li {
	float: left;
	background: #fff;
	padding: 0 3px;
}
.text-head .viewType li a{
	display: block;
	width: 20px;height: 20px;
	background: url(../img/viewType.png) no-repeat;
}
.text-head .viewType li a.list{
	background-position: 2px 3px;
}
.text-head .viewType li a.list.active{
	background-position: 2px -31px;
}
.text-head .viewType li a.calendar{
	background-position: -26px 3px;
}
.text-head .viewType li a.calendar.active{
	background-position: -26px -31px;
}


/* --------------------------messages------------------- */
.message {
	margin-bottom: 24px;
}


.message p{
	font-size: 14px;
	color: #808080;
}
/* --------------------------messages end------------------- */
/* -----------------------------profile--------------------- */
.profile-topBlock {
	margin: 40px 0;
}
.userpickBox, .infoBox {
	float: left;
}
.userpick {
	margin-bottom: 15px;
}
.userpick.account {
	margin: 10px auto 0;
	text-align: center;
}
.userpick .btn {
	margin: 0;
}
.userpickBox {
	width: 150px;
	margin-right: 30px;
}
.attitudeRate {
	width: 100%;
}
.attitudeRate > *{
	float: left;
}
.A-minus, .A-plus{
	width: 34px;height: 34px;
}
.A-minus:hover, .A-plus:hover {
	background-position: left bottom;
}
.A-plus {
	background: url(../img/plus.png) no-repeat left top;
}
.A-minus {
	background: url(../img/minus.png) no-repeat left top;
}
.attitudeRate-val {
	width: 82px;
	text-align: center;
	color: #38a1e3;
	font-size: 22px;
	line-height: 34px;
}
.infoBox {
	margin-bottom: 20px;
	width: 790px;
}
.basicInfo {
	float: left;
	height: 137px;
	line-height: 35px;
}
.userName {
	font-size: 25px;
	color: #323232;
}
.userName .role {
	color: #9a9a9a;
	font-size: 13px;
	background: #fff url(../img/l-corner.png) no-repeat left center;
	border-right: 1px solid #d7d7d7;
	line-height: 18px;
	padding: 3px 14px 3px 19px;
	vertical-align: middle;
}
.userLocation, .userEmail, .userAge {
	color: #a4a4a4;
	background: url(../img/userInfoIcons.png) no-repeat;
	padding-left: 30px;
}
.userLocation {
	background-position: left 9px;
}
.userEmail {
	background-position: left -20px;
}
.userAge {
	background-position: left -51px;
}
.stats {
	float: right;
}
.statBox {
	float: left;
	text-align: center;
	color: #909090;
	font-weight: bold;
	padding: 0 15px;
	line-height: 17px;
	border-left: 1px solid #f1f1f1;
	height: 65px;
}
.statBox.first {
	border-left: none;
}
.statBox span {
	display: block;
	font-size: 24px;
	color: #505050;
	margin-bottom: 15px;
}
.profileButtons {
	float: right;
}
.profileButtons .btn{
	margin: 0 0 0 4px;
	background-image: url(../img/profileButtons.png); 
	background-repeat: no-repeat;
	width: 190px;height: 34px;
	font-size: 15px;
	text-align: left;
	padding-left: 65px;
}




.educationPlace {
	padding: 15px 18px;
	background: #f3f3f3;
	border-radius: 2px;
	width: 283px;

	font-size: 14px;

	display: inline-block;
	margin: 0 28px 10px 0;
}
.educationPlaceName {
	font-weight: bold;
}
.educationField {
	font-size: 13px;color: #a7a7a7;
	margin-bottom: 10px;
}
.educationLocation {
	background: url(../img/educationLocation.png) no-repeat left center;
	padding-left: 30px;
}
.educationYears {
	float: right;
	font-size: 12px;
}

.profileSection {
	margin: 20px 0;
}

.courseBox {
	width: 225px;
	display: inline-block;
	margin: 5px 0;
}

.courseImage, .courseText {
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	color: #909090;
}
.courseImage {
	margin-right: 17px;
}
.courseName {
	display: block;
	font-size: 14px;
	font-weight: bold;
}
a img {
	vertical-align: text-bottom;
	margin: 0 5px 0 0 !important;
	float: none !important;
}
/* ---------------------------profile end-------------------------- */

/* ---------------------------account----------------------------- */
.accountData {
	width: 630px;
	margin: 20px 0 0 30px;
}
.accountData > *{
	display: inline-block;vertical-align: top;
}
.accountData .Label {
	margin: 0px;
}
.account-userData {
	margin-left: 75px;
	width: 390px;
}
.userDataBox {
	position: relative;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 20px;
	margin-top: 20px;
}
.userDataBox:first-child {
	margin-top: 0;
}
.userDataBox .TRbox {
	top:7px;right: 0;
}
.userDataValue {
	margin-top: 7px;
	font-size: 14px;
	color: #919191;
}
/* ---------------------------account--end------------------------ */


/* ---------------------------activity----------------------------- */
.disciplineBox {
	border: 1px solid #d7d6d6;
	border-left:3px solid #4e87ab;
	padding: 16px 17px;
	position: relative;
	margin: 20px 0;
	background: #fff;
}
.disciplineBox.hometask {
	cursor: pointer;
}

.disciplineBox.first {
	border-left: 3px solid #de5b5b;
}
.disciplineBox.schedule.first {
	background: #f1f0f0 !important;
	border: 1px solid transparent;
	border-left: 3px solid #de5b5b;
}
.disciplineBox-container {
	width: 630px;
}
.disciplineBox .date,
.disciplineBox-container {
	float: left;
}

.disciplineBox.first .date {
	color: #de5b5b;
}
.disciplineBox .date {
	margin-right: 17px;
	font-size: 24px;font-weight: bold;color: #3973a7;text-align: center;
}
.disciplineBox .date span{
	display: block;
	font-size: 16px;

}
.disciplineName {
	font-size: 17px;font-weight: bold;color: #343333;
	margin-bottom: 5px;
}
.disciplineSubject {
	color: #909090;
}
.TRbox {
	position: absolute;
	top: 16px;right: 17px;
	font-weight: bold;
	color: #909090;
}
.TRbox span{color: #505050;}

.disciplineBox .timeBox {
	background: url(../img/clock.png) no-repeat left center;
	padding:15px 0 15px 30px;
	border-top: 1px solid #e0e0e0;
	margin: 18px 0 0 0;
	font-weight: bold;
}
.disciplineBox .timeBox a {
	float: right;
	font-weight: normal;
}
.disciplineBox .status {
	color: #4e87ab;
	font-weight: bold;
	border-top: 1px solid #e0e0e0;
	padding: 15px 0;
}
.disciplineBox.first .status {
	color: #de5b5b;
}

.controls {
	
}
.controls li{
	float: left;	
	margin-left: 7px;
}
.controls li a{
	display: block;
	width: 31px;height: 31px;
	background: url(../img/circleIcons.png) no-repeat;
}
.controls li a.new {background-position: left top;}
.controls li a.edit {background-position: -40px top;}
.controls li a.show {background-position: -80px top;}
.controls li a.stats {background-position: -120px top;}

.activityBlocks {
	position: relative;
}
.verticalLine {
	position: absolute;
	height: 100%;
	top: 0;
	left: 50%;
	padding: 0 4px;
	background: #e8e8e8;
	z-index: -1;
	margin-left: -4px;
}
.showHidden {
	display: block;
	margin: 0 auto;
	background: url(../img/activityShowHidden.png) no-repeat;
	width: 59px;height: 59px;
}
.showHidden.down {
	background-position: left bottom;
}
.showHidden.up {
	background-position: left top;
}

/* ---------------------------activity-end------------------------- */

/* ---------------------------courseList--------------------------- */
.courseListItem {
	border: 1px solid #d7d6d6; 
	font-size: 13px; color: #909090;

	padding: 16px 17px;
	position: relative;
	margin: 0 0 20px;
	background: #fff;
}
.courseListItem-top {
	width: 682px;
	margin-bottom: 10px;
}
.courseListItem-bottom {
	margin-top: 10px;
}
.courseListItem-bottom .btn {
	margin: 0;
	float: left;
}
.courseListItem-bottom a.courseTeacher{
	float: right;
	line-height: 30px;
}
.courseListItem-top img {
	margin: 0 10px 10px 0 !important;
}
.courseListItem-head {
	font-size: 19px;font-weight: bold;
	color: #505050;
}
.courseListItem-top-col {
	float: left;
}
.courseListItem-top-col.rCol {
	width: 571px;
}

.courseDate {
	color: #505050;
	margin-top: 25px;
	padding-left: 20px;
	background: url(../img/courseDate.png) no-repeat left 3px;
}
.courseListItem-top .coursePrice {
	font-size: 28px;
	color: #505050;
	float: right;
	margin-top: -20px;
	text-align: left;
	text-transform: uppercase;
}

.loadingBox {
	border-radius: 3px;
	background: #f1f0f0;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	text-align: center;
}
.loadingBox span {
	padding-left: 20px;
	background: url(../img/loadingBox.png) no-repeat left center;
}
#selectSubject {
	width: 211px;
}
.filterName {
	font-size: 14px;
	color: #505050;
	margin-bottom: 15px;
}
.filterCheck {
	font-weight: normal;
	margin-left: 5px;
	font-size: 13px;
	color: #909090;
}
.filterCheck.bold {
	font-weight: bold;
	color: #505050;
}
.control-group > *{
	vertical-align: middle !important;
	display: inline-block;
	line-height: 25px;
}
/* ---------------------------courseList-end----------------------- */


/* ---------------------------course------------------------- */
.courseBlock {
	margin-bottom: 30px;
}
.courseBlock h1{
	font-weight: normal;
}
.courseBlock img {
	float: left;
	margin: 0 30px 20px 0;
}
.courseBlock p {
	font-size: 13px;
}
.rightCol.coursePriceBox {
	background: #fff;
}
.rightCol.coursePriceBox .btn {
	font-size: 15px;
}
.coursePrice {
	font-size: 47px;
	font-weight: bold;
	text-align: center;
}
.coursePrice span {
	font-size: 15px;
	color: #808080;
	font-weight: normal;
	display: block;
	margin-top: 10px;
}
.rightCol.coursePriceBox .btn,
.rightCol.coursePriceBox .controls{
	float: right;
	margin: 10px 0;
}
.rightCol.coursePriceBox .controls{
	margin: 0;
}
/* ---------------------------course-end------------------------- */

/* ---------------------------hometasks-------------------------- */

.pageHead {
	line-height: 25px;	
	min-height: 50px;
}
.pageHead h1{
	font-size: 25px;
	font-weight: normal;
	color: #505050;
}
.pageHead-rightbox {
	float: right;
	font-size: 17px;
	text-align: right;
}
.pageHead-rightbox.transaction {
	font-size: 14px;
	color: #909090;
}
.pageHead-rightbox .number {
	color: #909090;
}
.pageHead-rightbox.transaction .number{
	font-size: 24px;
	color: #505050;
	margin-left: 10px;
}

.deadline {
	font-size: 14px;
	color: #909090;
}
.deadline span{
	font-weight: bold;
	color: #e95153;
}
.mainCol article.hometask {
	margin: 19px 0 19px 33px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ececec;
}
.mainCol article.hometask p{
	font-size: 13px;
}
.hometasksLinks {
	margin-top: 20px;
}
.hometasksLinks .downloadFile {
	margin: 0 70px 0 0;
}
.hometaskTop .controls {
	float: right;
}
.hometaskTop .deadline {
	margin-right: 20px;
}
.hometaskGrade {
	float: right;
	position: relative;
}
.gradeSelect {
	font-size: 15px;
	font-weight: bold;
	color: #919191 !important;
	vertical-align: middle;
}
.grade {
	color: #f14f00;
	font-size: 21px;
	line-height: 22px;
	vertical-align: middle;
	margin-left: 20px;
}
#gradeDropDown {
	top: 22px;
	left: -35px;
}
#gradeDropDown .dropDownBoxBody {
	width: 115px;
}
#gradeDropDown .dropDownBoxTip {
	margin-left: 50px;
}

#hometaskForm {
	margin: 19px 0 19px 33px;
    padding-bottom: 20px;
}
.messageBox {
	border: 1px solid #d7d6d6;
	border-radius: 2px;
}
#hometaskMessage {
	border: none;
	outline: none;
	display: block;
	margin: 15px auto;
	width: 97%;
	min-height: 90px;
	resize: none;
}
.tools-menu {
	height: 30px;
	background: #f1f0f0;
	padding-top: 1px;
}
.tools-menu ul {
	line-height: 30px;
	margin-top: 4px;
}
.tools-menu ul li{
	float: left;
	margin-left: 8px;
	border-radius: 2px;
}
.tools-menu ul li.active {
	background: #dcdcdc;
}
.tools-menu ul li a{
	width: 20px;height: 20px;display: block;
	background: url(../img/tools-menu.png) no-repeat;
}
.tools-menu ul li a.T-bold{
	background-position: 6px 5px;
}
.tools-menu ul li a.T-italic{
	background-position: -19px 5px;
}
.tools-menu ul li a.T-underline{
	background-position: -46px 5px;
}
.tools-menu ul li a.T-uppercase{
	background-position: -73px 5px;
}
.tools-menu ul li a.T-sub{
	background-position: -103px 5px;
}
.tools-menu ul li a.T-sup{
	background-position: -134px 5px;
}
.tools-menu ul li a.T-unorderedList{
	background-position: -165px 5px;
}
.tools-menu ul li a.T-orderedList{
	background-position: -194px 5px;
}
.tools-menu ul li a.T-font{
	background-position: -220px 5px;
}
.tools-menu ul li a.T-textMenu{
	background-position: -248px 5px;
}


.filesUploaded {
	margin: 10px 0;
}
.filesUploaded span {
	background: url(../img/attach.png) no-repeat;
	padding-left: 18px;
	margin-right: 15px;
}
.uploadFiles {
	border: 3px dashed #eaeaea;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.uploadFile {
	display: inline-block;
	overflow: hidden;
	width: 32px;height: 26px;
}
.uploadFiles span{
	background: url(../img/upload.png) no-repeat left center;
	margin-left: 10px;
	font-weight: bold;
	font-size: 12px;
	color: #bdbbbb;
	vertical-align: top;
	text-transform: uppercase;
}
.type_file { /* блок-родитель, внутри которого будут позиционироваться остальные элементы для реализации стильного поля выбора файлов */
	position: relative;
	height: 40px;
	width: 100px;
	color: #919191;
	font-weight: bold;
	overflow: hidden;
	float: right;
}
.inputFile { /* поле type="file" */
	position: absolute; /* абсолютное позиционирование, чтобы можно было совместить поле и блок с оформлением */
	top: 0;
	left: 0;
	z-index: 3; /* z-слой должен быть больше, чем у блока с оформлением */
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); /* делаем поле абсолютно прозрачным */
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	height: 40px;
	width: 100px; /* задаем ширину для всех браузеров. Для firefox подбираем значение параметра size в поле */
}
.fonTypeFile { /* блок с оформлением */
	width: 100px; /* размеры картинки для оформления */
	height: 40px;
	background: url(images/inputFile.png); /* картинка оформления поля */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1; /* z-слой меньше, чем у поля выбора файла */
}
.inputFileVal { /* поле, в котором будет показан результат выбора файла */
	position: absolute;
	top: 3px;
	left: 5px;
	z-index: 2;
	width: 100px !important;
	background: none !important;
	border: none !important;
}

/* ---------------------------hometasks-end------------------------- */

/* ---------------------------lessons------------------------------- */
#calendarBox {
	margin: 50px 0 0 30px;
}
.cal {
  display: block;
  width: 701px;
  margin: 0 auto;
}

.cal a {
  text-decoration: none;
}

.cal caption {
  display: block;
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  color: #fcfcfc;
  text-align: center;
  background: #6dabe8;
}
.cal caption span {
	margin: 0 45px;
}
.cal caption button {
width: 34px;height: 34px;vertical-align: middle;
  background: url(../img/calendarArrows.png) no-repeat;
}
.cal caption button:hover {
  opacity: .7;
}
.cal caption button:active {
  opacity: 1;
}
.cal caption .c-prev {
	background-position: left bottom;
}
.cal caption .c-next {
	background-position: right bottom;
}
.cal tbody, .cal thead {
	display: block;
	width: 666px;
	margin: 0 auto;
	border-right: 1px solid #d7d6d6;
	border-bottom: 1px solid #d7d6d6;
}
.cal thead {
	border-bottom: none;
	border-right: none;
}
.cal th, .cal td {
  width: 94px;height: 74px;
  text-align: center;
}
.cal th {
	height: 50px;
	font-size: 20px;
  	line-height: 50px;
  	color: #696969;
	font-weight: normal;  	
}
.cal td {
  font-weight: bold;
  border-top: 1px solid #d7d6d6;
  border-left: 1px solid #d7d6d6;
}
.cal td a {
	height: 100%;
  clear: both;
  display: block;
  position: relative;
  color: #505050 !important;
  font-size: 30px;
  line-height: 74px;
  font-weight: normal;
}
.cal td a:hover, .cal td.off a {
  
}

.cal td.off a {
  color: #bdbbbb !important;
}

.cal td.active a, .cal td a:active {
  color: #f3f3f3;
  background: #f1f0f0;
}

.cal td.active:first-child a, .cal td:first-child a:active {
  border-left: 0;
  margin-left: 0;
}

.cal td.active:last-child a, .cal td:last-child a:active {
  border-right: 0;
  margin-right: 0;
}

.cal tr:last-child td.active a, .cal tr:last-child td a:active {
  border-bottom: 0;
  margin-bottom: 0;
}
.cal td.active a {
	line-height: 48px;
}
.cal td.active a span {
	background: url("../img/clock.png") no-repeat 15px center;
    border-bottom: 3px solid transparent;
    color: #505050;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;
    padding-left: 26px;
    position: relative;
}
.cal td.active.red a {
	color: #de5b5b !important;
}
.cal td.active.red a span {
	border-bottom: 3px solid #de5b5b;
}
.cal td.active.blue a {
	color: #4e87ab;
}
.cal td.active.blue a span {
	border-bottom: 3px solid #4e87ab;
}
/* ---------------------------lessons--end----------------------------- */
/* ---------------------------transactions-------------------------------- */
.transactionFilter {
	margin-bottom: 40px;
}
.transactionFilter label{
	font-weight: normal;
	font-size: 13px;
	color: #606060;
	margin-left: 40px;
}
.transactionFilter input[type=text]{
	width: 135px;
	padding: 1px 5px 4px;
}



#selectTransactionsType {
	width: 163px ;
}

.transactionFilter > * {
	vertical-align: middle;
}
.transactionFilter .btn {
	margin: 1px 0 0 15px;
	display: inline-block;
	vertical-align: middle;
}
.fromTo {
	text-align: center;
	font-size: 16px;
	color: #606060;
	padding: 0 10px 0 13px;
}
/* ---------------------------transactions--end--------------------------- */
/* --------------------------------register------------------------------- */
.signInVia {
	border-bottom: 1px solid #ddd;
	font-size: 14px;
	line-height: 48px;
	text-align: right;
}
.signInVia *{
	vertical-align: middle;
}
.signInVia span {
	margin-right: 20px;
}
.signInVia a.si-vs {
	display: inline-block;width: 40px;height: 33px;
	background: url(../img/si-vs.png) no-repeat;
}
.signInVia a.si-vs.facebook {background-position: left top;}
.signInVia a.si-vs.google {background-position: left bottom;}

.StepLabels {
	width: 100%;
	margin: 30px 0;
}
.StepLabel {
	display: inline-block;
	vertical-align: top;

	text-align: center;
	color: #fff;
	font-weight: bold;
	width: 326px;
	height: 35px;
	line-height: 35px;
	background: #a7cdf1;
}
.StepLabel.active {
	background: #6dabe8;
}
.StepLabel:first-child {
	margin-right: 10px;
}
.cn-lessons {
	width: 270px;
}

.registerForm {
	
}
.registerForm label{
	font-size: 13px;
	color: #606060;
}
.forRadio {
	display: inline-block;
	margin-top: 5px;
	font-weight: normal;
	font-size: 15px !important;
	line-height: 20px;
	color: #505050 !important;
	margin-right: 30px;
}
.Label {
	font-size: 15px !important;
	display: block;
	margin: 20px 0 0 0;
}
.registerForm input[type=text],.registerForm input[type=password]{
	width: 290px;
	display: block;
}
.w654 {	width: 654px !important;}
.w214 {	width: 204px !important;}/*-+ padding--*/
.w230 {	width: 220px !important;}/*-+ padding--*/
.w432 {	width: 424px !important;}/*-+ padding --*/
.mr-10 {
	margin-right: 10px;
}
.mr-10 {
	margin-right: 10px;
}
.ml-10 {
	margin-left: 10px;
}
.ml-9 {
	margin-left: 9px;
}
.mr-5 {
	margin-right: 5px;
}
.ml-5 {
	margin-left: 5px;
}
.control-group {
	width: 300px;
}
.control-group.full {
	width: 100%;
}
.control-group.left {
	float: left;
}
.control-group.right {
	float: right;
}
.control-group p {
	position: relative;
}
.accountType {
	width: 100%;
	background: #f3f3f3;
	line-height: 35px;
	font-size: 13px;
	font-weight: bold;
	color: #606060;
	margin-top: 25px;
}
.accountType span {
	margin-left: 10px;
}
.accountType input[type=radio] {
	display: inline-block;
	vertical-align: text-top !important;
}
input[type=radio] {
	margin-right: 5px;
}
.accountType label {
	color: #505050;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: normal;
	margin-left: 40px;
	vertical-align: baseline;
}
.accountType .right {
	margin-right: 10px;
}

.BirthDate {
	margin-right:9px;
}
.BirthDate:last-child {
	margin: 0;
}
#month.BirthDate {
	width: 125px;
}
#date.BirthDate {
	width: 65px;
}
#year.BirthDate {
	width: 77px;
}
.StudyYears {
	width: 77px;
}
.registerForm .btn {
	float: right;
	margin: 15px 0 0 0;
}
.m-0 {
	margin: 0 !important;
}
.inputCheck {
	position: absolute;
	text-align: left;
}
.inputCheck.error {
	color: #fff;
	bottom: 1px;
	width: 137px;
	height: 30px;
	line-height: 30px;
	background: url(../img/inputError.png) no-repeat;
}
.inputCheck.error.left {
	background-position: right top;
	padding-left: 10px;
	width: 127px;
	left: -145px;
}
.inputCheck.error.right {
	background-position: left top;
	padding-left: 15px;width: 122px;right: -145px;
}
.inputCheck.ok {
	width: 16px; height:13px; bottom:10px; right:10px;
	background: url(../img/inputOk.png) no-repeat;
}

.degree.w214 {width: 214px !important;}

.uploadFiles.userPicture {
	display: block;
	width: 152px;
	height: 138px;
	border: 3px dashed #eaeaea;
	text-align: center;
	margin-top: 15px;
}
.uploadFiles.userPicture span{
	text-align: center;
	line-height: 20px;
	display: block;
	width: 100px;
	margin: 6px auto 0;
	padding: 0;
}

.uploadFile.image {
	width: 32px;height: 26px;
	background: url(../img/uploadFile.png) no-repeat left bottom !important;
	margin: 20px auto -13px;
}
.uploadFile.file {
	display: inline-block;
	width: 32px;height: 26px;
	background: url(../img/uploadFile.png) no-repeat left top !important;
	margin: 8px 0 0 70px;
}
.uploadFiles.userPicture .type_file{
	float: none;
	margin: 5px auto 0;
}

textarea {
	border: 1px solid #d7d6d6;
	resize: none;
	
} 
textarea#Bio {
	width: 439px;height: 126px;
	margin-top: 15px;
	padding: 6px 10px 10px 12px;
}
.control-group.w463 {
	width: 463px;
}
.control-group.w158 {
	width: 158px;
}



/* --------------------------------register-end----------------------------- */
.mainCol.register {
	float: none;
	margin: 0 auto;
	width: 666px;
}


/* leftCol
----------------------------------------------------------------- */

.leftCol {
	float: left;
	width: 239px;
	height: 639px;
	position: relative;
	background: #f1f0f0;
	margin-bottom: -2000px;
	padding-bottom: 2000px;
}

.leftCol-container {
	width: 214px;
	margin: 12px auto;
}
.sidebar-head .A-plus {
	position: relative;
	top: -6px;
}
.sidebarTabs {
	
}
.sidebarTabs li {
	
}
.sidebarTabs li a{
	padding: 9px 10px;
	display: block;
	font-size: 14px;
	color: #505050 !important;
	width: 204px;
	border-left: 3px solid transparent;
}
.sidebarTabs li a.active{
	background: #fff;
	border-left: 3px solid #79ade3;
}
.sidebarTabs li a span.l-arrow {
	background-image: url(../img/l-arrow.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 12px;
}
.sidebarTabs li a span.folder {
	background-image: url(../img/folder.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 18px;
}
.sidebarTabs li a img{
	margin: 0 3px 0 0 !important;
}
.sidebarTabs li a span.number{
	float: right;
	margin-right: 12px;
}


/* -----------------------------------homeworks----------------------------- */
.mainCol-container {
	margin:20px 0 0 30px;
	width: 100%;
}
.b-table {
	width: 100%;
}
.mainCol-container .b-table {
	width: 701px;
}
.b-table tr{
	border-bottom: 1px solid #ececec;
}
.b-table tr:first-child{
	border-bottom: 1px solid transparent;
}
.b-table tr > *{
	padding: 15px;
	text-align: left;
}
.b-table tr > *.w180 {
	min-width: 180px;
}
.b-table tr > *.w230 {
	min-width: 230px;
}

.b-table tr > *.bold {
	font-weight: bold;
}
.b-table tr > *.black {
	color: #606060;
}
.b-table tr th{
	background: #6dabe8;
	font-size: 13px;
	font-weight: bold;
	color: #fcfcfc;
}
.b-table tr th a{
	color: #fff !important;
}
.b-table tr th a:hover,
.b-table tr th a.active{
	color: #e6e6e6 !important;
}
.d-arrow {
	padding-right: 20px;
	background: url(../img/d-arrow.png) no-repeat right -7px;
}
.b-table tr th a:hover .d-arrow,
.b-table tr th a.active .d-arrow{
	background-position: right 4px;
}
.b-table tr td{
	position: relative;
	color: #808080;
}
.b-table tr th.graded{text-align: center;}
.b-table tr td.graded{
	text-align: center;
	color: #e95153;
	font-size: 15px;
}
.b-table tr td.amount{
	font-weight: bold;
	font-size: 13px;
	color: #606060;
}
.b-table tr td.amount span.free{
	color: #a1ca47;
}
.b-table tr td.config {
	text-align: right;
}
.b-table tr td.config a{
	color: #808080 !important;
	font-size: 14px;
	margin-left: 10px;
}
.b-table tr td.config a:hover{
	color: #505050 !important;
	font-size: 13px;
	font-weight: bold;
}
.b-table tr td.config a.config{
	display: block;float: right;width: 18px;height: 18px;
	background: url(../img/config.png) no-repeat left bottom;
}
.b-table tr td.config a.config.active{
	background-position: left top;
}
.b-table tr td.config a.lock{
	display: block;float: right;width: 17px;height: 17px;
	background: url(../img/lock.png) no-repeat left top;
}
.b-table tr td.config a.lock.active{
	background-position: left bottom;
}


.dropDownContainer {
	position: relative;
}
#Role {
	right: -45px;
	top: 21px;
}
#Role .dropDownBoxBody{
	width: 115px;
}
#Role .dropDownBoxTip{
	margin-left: 49px;
}
#Role .dropDownList a{
	margin-left: 0;
}
#Role .dropDownList a:hover{
	font-size: 14px;
	font-weight: normal;
	color: #fff !important;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width: 1024px;
	margin: 0 auto;
	height: 70px;
	position: relative;
	color: #757575;
}
#footer .footer-element {
	top: 23px;
}
.copyrights {
	left: 0;
}
.footer-nav {
	right: 0;
}
.footer-nav ul{
	
}
.footer-nav ul li{
	display: inline;
	padding-left: 9px;
	margin-left: -2px;
}
.footer-nav ul li span{
	margin-right: 9px;
}
.footer-nav ul li a{
	
}



.hidden {
	display:none;
}

.wait {
	width: 16px; height:16px; bottom:8px; right:10px;
	background: url(../img/loader.gif) no-repeat;
}
